<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>LOGIN</title>
        <link rel="stylesheet" href="../static/css/stylelogin.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="form">
        <form action="" method="post" class="login-form">
            <ul>
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>
            </ul>
            <ul>
            <label for="">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter your password" required>
              <button type="submit"> Sign in </button>
            </ul>
        </form>
    </div>
    </head>
</html>